[Unit]
Description={{ service_name }} - Go Application
After=network.target

[Service]
ExecStart=/usr/local/bin/{{ service_name }}
User={{ remote_user }}
Group={{ remote_user }}
WorkingDirectory=/home/{{ remote_user }}/cs425-mp-gb6/MP1
Environment=TEST_MODE={{ test_mode | default('0') }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target