[Unit]
Description={{ service_name }} - Go Application
After=network.target

[Service]
ExecStart=/usr/local/bin/{{ service_name }}
User={{ remote_user }}
Group={{ remote_user }}
WorkingDirectory=/cs425/mp2
Restart=on-failure
RestartSec=5s

{% set machine_number = inventory_hostname | regex_replace('.*b6(\\d+).*', '\\1') %}
StandardOutput=append:/cs425/mp2/vm{{ machine_number }}.log
StandardError=stdout

[Install]
WantedBy=multi-user.target
