---
- hosts: my_servers
  become: yes
  vars:
    service_name: "MP1_server"
    binary_path: "./server"
    remote_user: "{{ lookup('env', 'USER') }}"

  tasks:
    - name: "Copy the server binary to the remote nodes"
      copy:
        src: "{{ binary_path }}"
        dest: "/usr/local/bin/{{ service_name }}"
        owner: "{{ remote_user }}"
        group: "{{ remote_user }}"
        mode: '0755'

    - name: "Create the systemd service file from a template"
      template:
        src: ./templates/service.j2
        dest: "/etc/systemd/system/{{ service_name }}.service"

    - name: "Reload systemd, enable and start the service"
      systemd:
        name: "{{ service_name }}"
        state: started
        enabled: yes
        daemon_reload: yes